@font-face {
    font-family: 'Barlow-thick';
    src: url('../Font/BarlowCondensed-Black.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-thin';
    src: url('../Font/Barlow-LightItalic.ttf');
    font-style: normal;
}

.frontPage {
    margin-top: 40px;
}
.frontPage-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    height: 300px;
}

.frontPage-titulo h1 {
    font-family: 'Barlow-thick';
    font-size: 55px;
    margin: 0;
}

.frontPage-titulo h2 {
    font-family: 'Barlow-thin';
    margin: 0;
}

.frontPage-titulo div {
    margin-bottom: 10px;
}


.gameModes h2 {
    font-family: 'Barlow-thick';
    text-align: center;
    font-size: 50px;
}

.gameModes-container h3 {
    font-family: 'Barlow-thick';
    text-align: center;
}

.gameModes-container h4 {
    font-family: 'Barlow-thin';
    text-align: center;
}
.gameModes-title{
    margin-bottom: 35px;
}

.gameModes-title h2{
    font-size: 55px;
}
.gameModes-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.gameModes-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.gameModes-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.gameModes-map img {
    height: 250px;
    width: auto;
    max-width: 100%;
}

.gameModes-description {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}


@media (max-width: 768px) {
    .frontPage-titulo h1 {
        font-size: 35px;
    }

    .frontPage-titulo h2 {
        font-size: 25px;
    }

    .gameModes h2 {
        font-size: 35px;
    }

    .gameModes-container {
        flex-direction: column;
        align-items: center;
    }

    .gameModes-mode{
        margin-top: 26px;
    }
}