@font-face {
    font-family: 'Barlow-thick';
    src: url('../Font/BarlowCondensed-Black.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-thin';
    src: url('../Font/Barlow-LightItalic.ttf');
    font-style: normal;
}

.header ul {
    font-family: 'Barlow-thick';
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;

}

.header ul h1{
    color: rgb(226, 226, 226);
}

.header {
    background-color: rgb(6, 7, 7);
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.header img {
    height: 60px;
    width: auto;
}

/* Intento de Responsive */
@media (max-width: 600px) {
    .header{
        width: 100%;
    }
    .header ul {
        flex-direction: column;
  
    }
    .header li {
        margin-bottom: 25px;

    }

    .header img {
        height: 60px;
        width: auto;
    }

}

